@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');
*{
    font-family: 'Space Mono',monospace;
}

body{
    background-image: url(https://i.pinimg.com/originals/1e/cb/2f/1ecb2f14e5710f44d396d3d59289fafb.jpg);
    background-size: cover;
}

.container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calcBody{
    box-sizing: border-box;
    background-color: black;
    height: 500px;
    border-radius: 25px;
    border:2px solid white;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 3fr;
    padding: 20px;
    row-gap: 20px;
}

.screen{
    background-color: darkblue;
    border-width: 0px;
    border-radius: 10px;
    text-align: right;
    color: white;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    padding: 0.5em;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    justify-content: center;
    grid-template-areas: 
        "divide into minus backspace"
        "button7 button8 button9 plus"
        "button4 button5 button6 plus"
        "button1 button2 button3 equals"
        "button0 button0 point equals "
}

.buttons button{
    border-radius: 10px;
    border-width: 3.5px;
    font-weight: 700;
    font-size: 2rem;
}

#button1{
    grid-area: button1;
}
#button2{
    grid-area: button2;
}
#button3{
    grid-area: button3;
}
#button4{
    grid-area: button4;
}
#button5{
    grid-area: button5;
}
#button6{
    grid-area: button6;
}
#button7{
    grid-area: button7;
}
#button8{
    grid-area: button8;
}
#button9{
    grid-area: button9;
}
#button0{
    grid-area: button0;
}

#point{
    grid-area: point;
}
#point:disabled{
    background-color: rgba(239, 239, 239, 0.5);
}

#plus{
    grid-area: plus;
}
#minus{
    grid-area: minus;
}
#into{
    grid-area: into;
}
#divide{
    grid-area: divide;
}
#equals{
    grid-area: equals;
}

